<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Authority" value="https://dev-0p4vt02e.auth0.com/" />
    <add key="Audience" value="https://lotrapi.com" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="CharactersService.Wcf.WcfCharactersService" 
               behaviorConfiguration="httpsWithCredentialsBehavior">
        <endpoint binding="basicHttpBinding" 
                  bindingConfiguration="httpsBindingWithCredentials" 
                  bindingNamespace="http://charactersservice.com" 
                  contract="CharactersService.Domain.ICharactersService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="httpsWithCredentialsBehavior">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" 
                                    customUserNamePasswordValidatorType="CharactersService.Wcf.Validator,CharactersService.Wcf" />
          </serviceCredentials>
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceSecurityAudit auditLogLocation="Application" 
                                messageAuthenticationAuditLevel="Failure" 
                                serviceAuthorizationAuditLevel="SuccessOrFailure" />
        </behavior>
        <behavior name="httpBehavior"> 
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="httpsBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="httpsBindingWithCredentials">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="httpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="httpBinding">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="customHttpsBindingWithCredentials"
                 openTimeout="00:01:00"
                 receiveTimeout="00:01:00"
                 sendTimeout="00:01:00">
          <textMessageEncoding messageVersion="Soap11"/>
          <security authenticationMode="UserNameOverTransport" />
          <httpsTransport allowCookies="false" keepAliveEnabled="false" />
      </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

  <log4net>
    <root>
      <level value="ALL"/>
	  <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="WcfCharactersService.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %-5level - %class - %message%newline%exception" />
      </layout>
    </appender>
  </log4net>
</configuration>
