<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <!--Error on Azure?
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    -->
    <services>
      <service name="CharactersService.Wcf.WcfCharactersService" 
               behaviorConfiguration="httpBehavior">
        <endpoint binding="basicHttpBinding" 
                  bindingConfiguration="httpBinding" 
                  bindingNamespace="http://charactersservice.com" 
                  contract="CharactersService.Domain.ICharactersService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="httpsWithCredentialsBehavior">
          <serviceCredentials>
            <!--<serviceCertificate x509FindType="FindBySubjectName"
                                findValue="{value}"
                                storeName="My"
                                storeLocation="LocalMachine" />-->
            <userNameAuthentication userNamePasswordValidationMode="Custom" 
                                    customUserNamePasswordValidatorType="CharactersService.Wcf.Validator,CharactersService.Wcf" />
          </serviceCredentials>
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceSecurityAudit auditLogLocation="Application" 
                                messageAuthenticationAuditLevel="Failure" 
                                serviceAuthorizationAuditLevel="SuccessOrFailure" />
        </behavior>
        <behavior name="httpBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="httpsBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="httpsBindingWithCredentials">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="httpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="httpBinding">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--Affinity free HTTP binding-->
      <customBinding>
        <!--Default timings: close, open, send = 1 min; receive = 10 mins-->
        <binding name="noKeepAliveHttpBinding"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00">
          <textMessageEncoding messageVersion="Soap11"/>
          <httpTransport allowCookies="false"
                         keepAliveEnabled="false" />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
